#private information
USERNAME = ''
PASSWORD = ""

MONGODB_HOST = ''
MONGODB_PORT = 0

WEIBO_API_KEY = ''
WEIBO_API_SECRET = ''

FACEPP_API_KEY = ''
FACEPP_API_SECRET = ''

IMAGE_CACHE_DIR = 'image'

CACHE_ENABLE = True

HOME_PAGE = 'http://weibo.cn/'
INFO_PAGE = '/info'
FANS_PAGE = '/fans?page='
FOLLOW_PAGE = '/follow?page='
PROFILE_PAGE = '/profile'
